<footer class="footer" >
    <div class="container-fluid main-color-bg-mej py-1">
        <div class="container ">
            <div class="row py-3 d-flex">
                <div class="justify-content-start col-md-9">
                    <p class="text-white">My Easy Job.</p>
                    <p class="text-white">©2021 All Rights Reserved.</p>
                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-end">
                            <a href="https://twitter.com/" class="p-1">
                                <img src="../../../assets/images/twitter.svg" alt="Bootstrap" width="24" height="24"></a>
                            <a href="https://facebook.com/" class="p-1">
                                <img src="../../../assets/images/facebook.svg" alt="Bootstrap" width="24" height="24"></a>
                            <a href="https://www.instagram.com/" class="p-1">
                                <img src="../../../assets/images/instagram.svg" alt="Bootstrap" width="24" height="24"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
